<input type="radio" name="cntnt" id="c1" value="1"><label for="c1"></label>
<input type="radio" name="cntnt" id="c2" value="2"><label for="c2"></label>
<input type="radio" name="cntnt" id="c3" value="3"><label for="c3"></label>
<input type="radio" name="cntnt" id="c4" value="4"><label for="c4"></label>
<input type="radio" name="cntnt" id="c5" value="5"><label for="c5"></label>
<input type="radio" name="cntnt" id="c6" value="6"><label for="c6"></label>
<input type="radio" name="cntnt" id="c7" value="7"><label for="c7"></label>
<input type="radio" name="cntnt" id="c8" value="8"><label for="c8"></label>
<input type="radio" name="cntnt" id="c9" value="9"><label for="c9"></label>
<input type="radio" name="cntnt" id="c10" value="10"><label for="c10"></label>