<input type="radio" name="dsgn" id="d1" value="1"><label for="d1"></label>
<input type="radio" name="dsgn" id="d2" value="2"><label for="d2"></label>
<input type="radio" name="dsgn" id="d3" value="3"><label for="d3"></label>
<input type="radio" name="dsgn" id="d4" value="4"><label for="d4"></label>
<input type="radio" name="dsgn" id="d5" value="5"><label for="d5"></label>
<input type="radio" name="dsgn" id="d6" value="6"><label for="d6"></label>
<input type="radio" name="dsgn" id="d7" value="7"><label for="d7"></label>
<input type="radio" name="dsgn" id="d8" value="8"><label for="d8"></label>
<input type="radio" name="dsgn" id="d9" value="9"><label for="d9"></label>
<input type="radio" name="dsgn" id="d10" value="10"><label for="d10"></label>