<form action="" method="post">
   {% csrf_token %}
   <input type="radio" name="design_radio1" id="" value="1"><label for="design_radio1"></label>
   <input type="radio" name="design_radio2" id="" value="2"><label for="design_radio2"></label>
   <input type="radio" name="design_radio3" id="" value="3"><label for="design_radio3"></label>
   <input type="radio" name="design_radio4" id="" value="4"><label for="design_radio4"></label>
   <input type="radio" name="design_radio5" id="" value="5"><label for="design_radio5"></label>
   <input type="radio" name="design_radio6" id="" value="6"><label for="design_radio6"></label>
   <input type="radio" name="design_radio7" id="" value="7"><label for="design_radio7"></label>
   <input type="radio" name="design_radio8" id="" value="8"><label for="design_radio8"></label>
   <input type="radio" name="design_radio9" id="" value="9"><label for="design_radio9"></label>
   <input type="radio" name="design_radio10" id="" value="10"><label for="design_radio10"></label>
</form>