<input type="radio" name="usblty" id="u1" value="1"><label for="u1"></label>
<input type="radio" name="usblty" id="u2" value="2"><label for="u2"></label>
<input type="radio" name="usblty" id="u3" value="3"><label for="u3"></label>
<input type="radio" name="usblty" id="u4" value="4"><label for="u4"></label>
<input type="radio" name="usblty" id="u5" value="5"><label for="u5"></label>
<input type="radio" name="usblty" id="u6" value="6"><label for="u6"></label>
<input type="radio" name="usblty" id="u7" value="7"><label for="u7"></label>
<input type="radio" name="usblty" id="u8" value="8"><label for="u8"></label>
<input type="radio" name="usblty" id="u9" value="9"><label for="u9"></label>
<input type="radio" name="usblty" id="u10" value="10"><label for="u10"></label>